body {
  font-family: sans-serif;
  height: 2000px;
}

.top {
  display: inline-block;
  background-color: skyblue;
  height: 200px;
  width: 100vw;
  text-align: center;
  font-size: 42px;
  line-height: 200px;
  vertical-align: middle;
}

button {
  position: fixed;
  left: 500px;
  top: 500px;
}
