<html>
<head>
    <title>UrlQueryForm</title>
</head>
<body>
    <h1>파라미터 요청 처리</h1>
    <a href="regoster?userId=sa&password=ghwls13628!">
        regoster?userId=sa&password=ghwls13628!</a><br>

    <a href="register/sa">register/sa</a><br>

    <form action="/form01" method="post">
        userId: <input type="text" name="userId" value="sa1"><br>
        password: <input type="password" name="password" value="ghwls13628!"><br>
        money: <input type="text" name="money" value="100"><br>
        <input type="submit" value="form01">
    </form>

    <form action="/form02" method="post">
        userId: <input type="text" name="userId" value="sa2"><br>
        password: <input type="password" name="password" value="ghwls13628!"><br>
        money: <input type="text" name="money" value="1000"><br>
        <input type="submit" value="form02">
    </form>

    <form action="/form03" method="post">
        userId: <input type="text" name="userId" value="sa3"><br>
        password: <input type="password" name="password" value="ghwls13628!"><br>
        money: <input type="text" name="money" value="10000"><br>
        <input type="submit" value="form03">
    </form>

</body>
</html>