<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>SpringBoot</title>
</head>
<body>
<div id="top"></div>
<header>
    <div class="content">
        <span class="logo">
            <a href="#">SpringBoot</a>
        </span>
        <ul>
            <li><a href="#about-me">about me</a></li>
            <li><a href="#projects">projects</a></li>
            <li><a href="#skills">my skills</a></li>
        </ul>
    </div>
</header>

<div class="container">
    <main>
        <div class="left">
            <h1></h1>
        </div>
    </main>
</div>

