<html>
    <head>
        <title>Mustache 문법</title>
    </head>
    <body>

<!--        {{#user}}-->
<!--            name : {{name}}, age : {{age}}-->
<!--        {{/user}}-->


<!--        <p>{{name}}</p>-->
<!--        <p>{{age}}</p>-->
<!--        <p>{{company}}</p>-->
<!--        글 그대로 출력-->
<!--        <p>{{{company}}}</p>-->
<!--        태그사용후 출력-->

<!--        <p>출력을 부탁 드립니다</p>-->
<!--        {{#user}}-->
<!--            <p>현재 아무 내용이 없습니다</p>-->
<!--        {{/user}}-->
<!--    attributeValue 값에 false이거나 값이 없을경우 사이에
        값이 출력되지않는다-->

<!--        {{#user}}-->
<!--            <p>name : {{.}}</p>-->
<!--        {{/user}}-->

<!--        {{#person}}-->
<!--            <p>{{name}}</p>-->
<!--        {{/person}}-->
<!--        {{^person}}-->
<!--            사람이 없습니다.-->
<!--        {{/person}}-->
<!--    ^ : 키가 존재하지 않거나 홀수이거나 빈리스트인경우 랜더링이가능하도록 해줌-->

        <h2>이름</h2>
    {{#users}}
        {{> mustache/user}}
    {{/users}}
    </body>
</html>