<html>
<head>
    <title>UrlQueryForm</title>
</head>
<body>
    <h2>등록 정보</h2>
    <form action="/register" method="post">
        userId: <input type="text" name="userId" value="Hojin"><br>
        password: <input type="password" name="password" value="1234"><br>

        <input type="submit" value="register">
    </form>
</body>
</html>