<html>
<head>
    <title>UrlQueryForm</title>
</head>
<body>
<h1>성공적으로 임가 완료 되었습니다</h1>
<a href="regoster?userId=sa&password=ghwls13628!">regoster?userId=sa&password=ghwls13628!</a><br>
<a href="register/sa">register/sa</a>
</body>
</html>